---
title: Projects
background: blue
---
<h1>Projects</h1>

<ul class="projects">
  {% for project in site.data.projects %}
  <li id={{ project.slug }} class="project">
    {% if project.screenshot %}
    <div class="project__screenshot">
      <img src="{{ site.cloudinary_url }}/w_926/{{project.screenshot.src}}" alt="{{project.screenshot.alt}}">
    </div>
    {% endif %}
    <div class="copy">
      <h2>{{ project.title }}</h2>
      {{ project.description | markdownify }}
      <ul class="project__links">
        <li><a href="{{ project.url }}" target="_blank">{{ project.urlName }}</a></li>
        {% if project.github %}
        <li><a href="{{ project.github}}" target="_blank">GitHub</a></li>
        {% endif %}
        {% if project.testimonial %}
        <li><a href="testimonials.html#{{ project.testimonial }}">Testimonial</a></li>
        {% endif %}
      </ul>
    </div>
  </li>
  {% endfor %}
</ul>