---
title: Projects
background: blue
---
<h1>Projects</h1>

<ul class="projects">
  {% for project in site.data.projects %}
  <li id={{ testimonial.slug }} class="project">
    {% if project.headshot %}
    <div class="headshot">
      <img src="{{ site.cloudinary_url }}/w_250/{{project.headshot.src}}" alt="{{project.headshot.alt}}">
    </div>
    {% endif %}
    <div class="copy">
      <h2>{{ project.title }}</h2>
      {{ project.description | markdownify }}
    </div>
  </li>
  {% endfor %}
</ul>