---
title: Testimonials
background: paint
---
<h1>Testimonials</h1>

<ul class="testimonials">
  {% for testimonial in site.data.testimonials %}
  <li id={{ testimonial.slug }} class="testimonial">
    {% if testimonial.headshot %}
    <div class="headshot">
      <img src="{{ site.cloudinary_url }}/w_250/{{testimonial.headshot.src}}" alt="{{testimonial.headshot.alt}}">
    </div>
    {% endif %}
    <div class="copy">
      {{ testimonial.content | markdownify }}
      <p>
        {{ testimonial.name }}, <em>{{ testimonial.title }}</em>
        <br><strong>{{ testimonial.org }}</strong>
      </p>
    </div>
  </li>
  {% endfor %}
</ul>