---
title: Testimonials
---
<h1>Testimonials</h1>

<ul class="">
  {% for testimonial in site.data.testimonials %}
  <li id={{ testimonial.slug }}>
    {% if testimonial.headshot %}
      {% responsive_image_block %}
        path: assets/images/{{ testimonial.headshot }}
        alt: Headshot
        class: align-right
      {% endresponsive_image_block %}
    {% endif %}
    <div class="">
      {{ testimonial.content | markdownify }}
    </div>
    <p>
      {{ testimonial.name }} - {{ testimonial.org }}
    </p>
  </li>
  {% endfor %}
</ul>