  </body>
  <footer class="h-card">
    <a class="p-name u-url" href="https://derekhouck.com">Derek Houck</a>
    <img src="{{ site.cloudinary_url }}/w_500/karaoke-league.jpg" class="u-photo" alt="Derek Houck holding a microphone while singing karaoke." />
    <p class="p-note">
      Test-driven developer with six years of full-stack software engineering experience. I love sharing my knowledge with others. My past as an actor helps me communicate effectively with technical and non-technical coworkers. I've been building sites since the days of GeoCities and eating chocolate for even longer.Test-driven developer with six years of full-stack software engineering experience. I love sharing my knowledge with others. My past as an actor helps me communicate effectively with technical and non-technical coworkers. I've been building sites since the days of GeoCities and eating chocolate for even longer.
    </p>
  </footer>

</html>
