<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:image" content="{{ site.url }}/assets/images/derek-mario-social-square.jpg" />
  <meta property="og:description" content="Portfolio site for Derek Houck, a full stack software developer." />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
  {% seo %}
  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  <link rel="me" href="https://www.linkedin.com/in/derekhouck/" />
  <link rel="me" href="https://github.com/derekhouck" />
  <link rel="me" href="https://mastodon.social/@derekhouck" />
  <link rel="me" href="https://bsky.app/profile/derekhouck.com" />
</head>

<body class="{{ page.background }}">
