.social-links {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  * {
    margin: 0;
    padding: 0;
  }

  dt {
    font-style: italic;
  }

  dd {
    font-weight: bold;
    margin-bottom: 1em;
  }
}

@media all and (min-width: $breakpoint-medium) {
  .social-links {
    column-gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    dt {
      text-align: right;
    }

    dd {
      text-align: left;
    }
  }
}
