.social-links {
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-links a {
  border-radius: 100%;
  color: white;
  display: block;
  fill: white;
  height: 96px; // IE8
  height: 9.6rem;
  width: 96px; // IE8
  width: 9.6rem;
  transition: background-color 0.1s, transform 0.5s ease-out;
  &:hover {
    color: $navy;
    fill: $navy;
    transform: scale(1.25);
  }
}

.social-links li {
  display: inline-block;
}

.social-links .email {
  color: #db4437;
  fill: #db4437;
  &:hover {
    background-color: #db4437;
  }
}

.social-links .github {
  color: #fafafa;
  fill: #fafafa;
  &:hover {
    background-color: #fafafa;
  }
}

.social-links .linkedin {
  color: #0077b5;
  fill: #0077b5;
  &:hover {
    background-color: #0077b5;
  }
}

.social-links .twitter {
  color: #38a1f3;
  fill: #38a1f3;
  &:hover {
    background-color: #38a1f3;
  }
}
