@font-face {
  font-family: "Akzidenz-Grotesk Condensed";
  src: local("Berthold Akzidenz-Grotesk Medium Condensed Italic"),
    local("AkzidenzGroteskBE-MdCnIt"),
    url("/assets/fonts/hinted-AkzidenzGroteskBE-MdCnIt.woff2") format("woff2"),
    url("/assets/fonts/hinted-AkzidenzGroteskBE-MdCnIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Akzidenz-Grotesk Condensed";
  src: local("Berthold Akzidenz-Grotesk Medium Condensed"),
    local("AkzidenzGroteskBE-MdCn"),
    url("/assets/fonts/hinted-AkzidenzGroteskBE-MdCn.woff2") format("woff2"),
    url("/assets/fonts/hinted-AkzidenzGroteskBE-MdCn.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz-Grotesk Condensed";
  src: local("Berthold Akzidenz-Grotesk Extra Bold Condensed Italic"),
    local("AkzidenzGroteskBE-XBdCnIt"),
    url("/assets/fonts/hinted-AkzidenzGroteskBE-XBdCnIt.woff2") format("woff2"),
    url("/assets/fonts/hinted-AkzidenzGroteskBE-XBdCnIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Akzidenz-Grotesk";
  src: local("Berthold Akzidenz-Grotesk Medium"), local("AkzidenzGroteskBE-Md"),
    url("../assets/fonts/hinted-AkzidenzGroteskBE-Md.woff2") format("woff2"),
    url("../assets/fonts/hinted-AkzidenzGroteskBE-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz-Grotesk";
  src: url("/assets/fonts/BertholdAkzidenzGroteskRegular.woff2") format("woff2"),
    url("/assets/fonts/BertholdAkzidenzGroteskRegular.woff") format("woff"),
    url("/assets/fonts/BertholdAkzidenzGroteskRegular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Akzidenz-Grotesk";
  src: url("/assets/fonts/BertholdAkzidenzGroteskItalic.woff2") format("woff2"),
    url("/assets/fonts/BertholdAkzidenzGroteskItalic.woff") format("woff"),
    url("/assets/fonts/BertholdAkzidenzGroteskItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
}
