body {
  font-family: 'Berthold Akzidenz-Grotesk', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.navy {
  background: $navy;
  color: white;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

.site-content {
  padding: 6rem 1rem 1rem;
  section {
    box-sizing: border-box;
    padding: 1rem;
  }
}

.current {
  color: green;
}

// Site header
.site-branding {
  line-height: 1;
  padding: 0.5rem;
}

.site-header {
  display: grid;
  font-size: 1.5em;
  font-style: italic;
  grid-template-areas: 
    "logo"
    "nav";
  left: 0;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100vw;
  a {
    text-decoration: none;
  }
}

.site-logo {
  display: block;
  margin: 0 auto;
  width: 50vw;
}

.site-nav {
  background: $red;
  color: white;
  grid-area: nav;
  padding: 0.5rem;
  a {
    color: white;
  }
  li {
    display: inline-block;
    margin: 0 0.5em;
  }
  ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }
}

.site-subtitle {
  margin: 0;
}

@media all and (min-width: $breakpoint-medium) {
  .site-branding {
    text-align: left;
  }

  .site-header {
    align-items: center;
    grid-template-areas:
      "logo nav";
  }

  .site-nav {
    text-align: right;
  }
}

@media all and (min-width: $breakpoint-large) {
  .site-header {
    grid-template-columns: 25vw 1fr;
  }
}

// Homepage
.home.site-content {
  padding: 0;
}

.home .site-logo {
  display: inline-block;
  margin: 0;
  min-width: 50vw;
  width: auto;
}

.site-content .cover {
  font-size: 1.5em;
  font-style: italic;
  height: 100vh;
  padding-top: 4rem;
  text-align: center;
}

.home-branding {
  margin-bottom: 2rem;
}

.headlines {
  list-style: none;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  a {
    text-decoration: none;
  }
  li {
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
  }
}

.headline {
  color: $blue;
  display: block;
  font-size: 2em;
}

.subhead {
  color: black;
}

@media all and (min-width: $breakpoint-medium) {
  .site-content .cover {
    background: url('/assets/images/devices.jpg') no-repeat 100% 50%;
    background-size: 50vw auto;
    text-align: left;
  }

  .site-header-home {
    display: block;
  }

  .headlines {
    max-width: 50vw;
    li {
      margin-bottom: 2rem;
    }
  }
}

@media all and (min-width: $breakpoint-large) {
  .cover {
  }
}