body {
  font-family: 'Berthold Akzidenz-Grotesk', Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.site-content {
  background: white;
  margin: 1rem;
}

.current {
  color: green;
}

// Site header
.site-branding {
  padding: 1rem;
}

.site-header {
  display: grid;
  font-size: 1.5em;
  font-style: italic;
  grid-template-areas: 
    "nav"
    "logo";
  text-align: center;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
  img {
    min-width: 50vw;
  }
}

.site-nav {
  background: $red;
  color: white;
  grid-area: nav;
  padding: 1rem 0.5rem;
  a {
    color: white;
  }
  li {
    display: inline-block;
    margin: 0 0.5em;
  }
  ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }
}

.site-subtitle {
  margin: 0;
}

@media all and (min-width: $breakpoint-medium) {
  .site-branding {
    text-align: left;
  }

  .site-nav {
    text-align: right;
  }
}

// Homepage
.headlines {
  font-size: 1.5em;
  font-style: italic;
  list-style: none;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  a {
    text-decoration: none;
  }
  li {
    margin-bottom: 2rem;
  }
  p {
    margin: 0;
  }
}

.headline {
  color: $blue;
  display: block;
  font-size: 2em;
}

.subhead {
  color: black;
}

@media all and (min-width: $breakpoint-medium) {
  .cover {
    background: url('/assets/images/devices.jpg') no-repeat 100% 50%;
    background-size: 50vw auto;
  }
  .headlines {
    max-width: 50vw;
    text-align: left;
  }
}

@media all and (min-width: $breakpoint-large) {
  .cover {
    background-size: contain;
  }
}