$breakpoint-medium: 768px;
$breakpoint-large: 1224px;

// Colors
$red: #dc1d07;
$red-darker: hsl(6, 94%, 22%);
$yellow: #ffc44a;
$yellow-darker: hsl(40, 100%, 32%);
$yellow-lighter: hsl(40, 100%, 74%);
$blue: hsl(210, 91%, 35%); //#0857a8
$blue-darker: hsl(210, 91%, 17%);
$blue-black: hsl(210, 91%, 9%);
$blue-lighter: hsl(210, 91%, 70%);
$blue-white: hsl(210, 91%, 85%);

// Background colors
$navy: hsl(210, 45, 10);
$purple: hsl(253, 46%, 27.5%);
