---
layout: default
---

<article class="post-content h-entry">
  <h1 class="p-name">{{ page.title }}</h1>
  <p>
    <a class="u-url" href="{{ page.url }}">
      <time class="dt-published" datetime="{{ page.date | date: '%F %T%:z' }}">
        {{ page.date | date_to_string }}
      </time>
    </a>
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
    - <a class="p-author h-card" href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
  </p>

  <div class="">
    {{ content }}
  </div>
</article>
